#preventClickCover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 11;
}

#clickMenu {
    border: 1px solid #2f2f2f;
    border-radius: 15px;
    z-index: 20;
    position: fixed;
    color: white;
    display: grid;
    width: 180px;
    height: 220px;
    overflow: hidden;
    background: none;
    backdrop-filter: blur(20px);
}

#deleteMenu,
#searchMenu {
    box-sizing: border-box;
    width: 180px;
    height: 55px;
    border: 1px solid #2f2f2f;
    border-radius: 15px;
    z-index: 20;
    position: fixed;
    color: white;
    display: grid;
    overflow: hidden;
    background: none;
    backdrop-filter: blur(20px);
}

.menuItem {
    box-sizing: border-box;
    width: 100%;
    align-content: center;
    padding-left: 15px;
    font-size: 0.9rem;
    background-color: rgba(29, 29, 29, 0.7);
}

.menuItem:hover {
    background-color: rgba(42, 42, 42, 0.7);
    cursor: pointer;
}
