#queueList::before {
    height: 50px;
    flex: 0 0 50px;
    content: "";
    display: block;
}

#queueList {
    color: white;
    display: flex;
    flex-direction: column;
}

.queueTrack {
    color: white;
}

#currentQueueTrack,
#upcomingQueueTracks {
    display: flex;
    flex-direction: column;
}
