#queueList::before {
    height: var(--content-top-spacer);
    content: "";
    display: block;
}

#queueList {
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    height: 100vh;
    width: 90vw;
    justify-self: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    font-weight: 300;
    font-family: "Stack Sans Text", Inter, sans-serif;
    filter: none;
    display: grid;
    gap: 50px;
}

#queueList::after {
    display: block;
    height: 100px;
    content: "";
}

.queueSection {
    background: transparent;
    position: relative;
    top: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
}

.queueSection::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #535353;
}

.queueItem {
    margin: 0;
    background-color: black;
    padding-left: 15px;
    height: 90px;
    border-bottom: 1px solid #535353;
    display: grid;
    align-content: center;
    grid-template-columns: 75px 300px 200px auto 100px;
    gap: 10px;
    text-align: left;
    font-family: inherit;
    width: 100%;
    cursor: pointer;
}

.queueItem:hover {
    background-color: #151515;
}

#currentQueueTrack,
#upcomingQueueTracks {
    display: flex;
    flex-direction: column;
}

#queueList .coverImgContainer {
    width: 60px;
    height: 60px;
    grid-column: 1;
    align-self: center;
    transition-duration: 0.25s;
    border-radius: 7px;
    overflow: hidden;
}

#queueList .coverImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#queueList .trackName {
    grid-column: 2;
    font-weight: 600;
    align-self: center;
}
