#searchBar {
    position: absolute;
    right: 5%;
    z-index: 10;
    display: flex;
    top: 8%;
    overflow: visible;
    border-radius: 100px;
    border: none;
    outline: none;
    color: white;
    background-color: #111111;
    border: 1px solid #535353;
}

#searchBar:focus-within {
    outline: none;
}

#input {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 0 20px;
    font-size: 16px;
    background-color: transparent;
    user-select: text;
    -webkit-user-select: text;
}

#input::-webkit-search-cancel-button {
    cursor: pointer;
}
